*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: 'Poppins';
}

.container {
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content  {
    text-align: center;
}

.content h1 {
    font-size: 95px;
    color: #ffffff;
    margin-bottom: 50px;
}

.content a{
    font-size: 23px;
    color: #ffffff;
    text-decoration: none;
    border: 2px solid #ffffff;
    padding: 15px 25px;
    border-radius: 50px;
    transition: 0.3s;
}

.content a:hover{
    background-color: #ffffff;
    color: #000;
}

.background-clip{
   width: 100vw;
   height: 100vh;
   object-fit: cover;
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   z-index: -1;
}



nav {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

